<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ß-house 分享知识 一起进步</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src='js/main.js'></script>
</head>
<body>
	<header>
		<span class="header-left">
			<a href="/"><img class='logo' src="images/logo.png" alt="logo"></a>
		</span>
		<span class='header-right'>
			<a class='reg' href="/reg">注册</a>
			<a class='login' href="/login">登录</a>

 			<!-- <a id='header-person' class="username" href="/person">ahbing</a> -->
 			<nav>
				<ul>
					<li><a href="/person">个人中心</a></li>
					<li><a href="/post">发表文章</a></li>
					<li><a href="/editinfo">修改信息</a></li>
					<li><a href="/logout">登出</a></li>
				</ul>
			</nav>
		</span>
	</header>
	<section class="page">
		<aside class="upload-files">
			<!-- 上传图片 -->
			<input type="file" name='img'>
		</aside>

		<article class="upload-post">
			<form action="/edit" method='POST'>
				<input class='post-title' type="text" name='title' placeholder='文章标题' required><br/><br/>
				<textarea name="post" class="post-cont" cols="103" rows="40">	margin-right: 18%;
					margin-top: 2.4em;
				}
				.editpage a{
					c
				.comment-value{
					float: right;
					width:88%;
				}

				.comment-reply{
					margin: 1em 2em 0 0;
					float: right;
					color: #999;
				}

				.comment-reply:hover{
					color: #666;
				}

				.reply-value{
					overflow: hidden;
					margin-top: 1.2em;
				</textarea><br/>
				<input type="submit" value='发表'>
			</form>
		</article>
	</section>
	<footer>
		<p>自豪的采用nodejs</p>
	</footer>
</body>
</html>