  <footer>
    <p><span>2015 <a target="_blank" style="color:#FF9933" href="http://betahouse.us">betahouse工作室</a></span>自豪的采用nodejs</p>
    <p>不是工作室的童鞋，向<a style="color:#FF9933" href="mailto:hbb@betahouse.us">beta-分享</a>小组供稿，文章通过，可以获得发表文章权限，欢迎各位同仁发布文章</p>
  </footer>
</body>
</html>