<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ß-house 分享知识 一起进步</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src='js/main.js'></script>
</head>
<body>
	<header>
		<span class="header-left">
			<a href="/"><img class='logo' src="images/logo.png" alt="logo"></a>
		</span>
		<span class='header-right'>
			<a class='reg' href="/reg">注册</a>
			<a class='login' href="/login">登录</a>

 			<!-- <a id='header-person' class="username" href="/person">ahbing</a> -->
 			<nav>
				<ul>
					<li><a href="/person">个人中心</a></li>
					<li><a href="/post">发表文章</a></li>
					<li><a href="/edit">修改信息</a></li>
					<li><a href="/logout">登出</a></li>
				</ul>
			</nav>
		</span>
	</header>
	<section class='user-show'>
			<img class='bg' src="images/header.jpg" alt="">
			<a class='edit-bg' href="">修改背景</a>
			<a href="#">
				<img class='user-header' src="images/header.jpg" alt="用户头像">
			</a>
			<p class='user-motto'>ahbing : hello world!</p>
	</section>
	<section class="user-post">
		<p class='recent-share'>近期分享</p>
		<ul class='post-list'>
			<li>
				<span class='post-date'>2015-05-01</span>
				<span class="post-title"><a href="">hello world</a></span>
			</li>
		</ul>
	</section>
	<footer>
		<p>自豪的采用nodejs</p>
	</footer>
</body>
</html>